$spacing: 10px;
$padding: 5px;

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, Noto Sans, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.app-container {
    margin-bottom: 50px;
}

.app-height-adjust {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-drawer .MuiDrawer-paper {
    width: 240px;
}

.app-drawer .drawer-header {
    display: flex;
    justify-content: flex-end;
}

.footer {
    margin-top: auto;
    padding: $padding;
    background-color: #999;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}
//a:after {
//    content: "\27A4";
//}

// Menu
.title {
    flex-grow: 1;
}


// tables
.matches-table, .players-table {
    min-width: 650px;
}

.MuiFormControl-root {
    &.teamselect-formcontrol {
        min-width: 230px;
        margin-right: $spacing;
    }
}

// backdrop
.MuiBackdrop-root.backdrop {
    z-index: 1;
    color: white;

    & .backdrop-text {
        margin-left: 10px;
    }
}

.MuiFormControl-root {
    width: 300px;
}
