$spacing: 10px;
$padding: 5px;

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, Noto Sans, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

a {
    text-decoration: none;
    color: black;
}
a:after {
    content: "\27A4";
}

// Menu
.title {
    flex-grow: 1;
}


// tables
.matches-table, .players-table {
    min-width: 650px;
}

.MuiFormControl-root {
    &.teamselect-formcontrol {
        min-width: 230px;
        margin-right: $spacing;
    }
}
