
.field {
    display: flex;
    justify-content: space-between;
    background-color: #8CB27C;
    background-image: url(cancha.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;

    border: 1px solid white;
    padding: 5px;
    min-width: 680px;
    min-height: 270px;
}
.field_line {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    padding: 1px;
}
.field_player {
    border: 5px solid black;
    border-radius: 20px;
    padding: 2px;
    margin: 3px;
    color: white;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 4em;
}
.field_player_name {
    vertical-align: middle;
}

/*
.team-home .field_player {
    background-color: darkblue;
}
.team-away .field_player {
    background-color: darkred;
}
*/

.highlight_goal {
    background-color: lightseagreen;
}
.highlight_player_ball {
    border-color: crimson;
}
.highlight_player_ball:after {
    content: "";
    background: url("balon.png") round center;
    width: 20px;
    height: 20px;
}
.team-home .highlight_player_ball:after {
    float: right;
}
.team-away .highlight_player_ball:after {
    float: left;
}

.highlight_player {
    border-color: crimson;
}

.player_number {
    font-weight: bold;
    font-size: 12px;
    margin-right: 3px;
}

$states: PA DA M DB PB;
@each $state in $states {
    .field-state-#{$state} .state-#{$state} {
        background-color: rgba(black, 0.5);
    }
}

@keyframes blinker {
    0% {
        background-color: rgba(lightblue, 0.3);
    }
    50% {
        background-color: rgba(lightblue, 0.9);
    }
    100% {
        background-color: rgba(lightblue, 0.3);
    }
}
$states: GA GB;
@each $state in $states {
    .field-state-#{$state} .state-#{$state} {
        animation: blinker 1s linear infinite;
    }
}

.team-home {
    .goal {
        transform: rotate(-90deg);
    }
}
.team-away {
    .goal {
        transform: rotate(90deg);
    }
}

$powers: 1 2 3 4 5 6 7 8 9 10;
$drk: 20%;
$pcolor: darken(red, $drk) red darken(orange, $drk) orange darken(yellow, $drk) yellow darken(green, $drk) green darken(blue, $drk) blue #8F00FF;

@each $d in $powers {
    $n: $d;
    .power-#{$n} {
        $current: nth($list: $pcolor, $n: $d);
        color: $current;
        background-color: lighten($color: $current, $amount: 35%);
    }
}
